html {
	width:100%;
}

#page-wrapper {
	color: white;
	font-size: 150%;
}

header, h2 {
	color: #e44c65;
}

#in {
	color: #ff8080;
}

h3 {
	color: white;
}

a {
	color: white;
}

input {
	color: white;
	max-width: 80%;
}

.container{
	max-width: 100%;
		padding-left:5%;
}

#heartRateGoal, #donationAmount, #submitInputs {
	margin-top: 5%;
}

#submitInputs {
	margin-bottom: 3%;
	padding-right, padding-left: auto;
}