body {
	background-color: #606060;	
}

#page-wrapper {
	color: white;
	font-size: 150%;
}

header, h2 {
	color: #e44c65;
}

#in {
	color: #ff8080;
}

h3 {
	color: white;
}

a {
	color: white;
}

input {
	color: white;
}